* {
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}
:root {
  --primary: #0d0d0e;
  --secondary: #21d07a;
  --white: #fff;
}

.ul li {
  list-style: none;
  padding: 1.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}
.ul li:hover {
  background-color: red;
  border-radius: 0.5rem;
}
.homecontainer {
  background-size: cover;
  background-image: url(/public/image/bev.jpg);
  width: 100%;
  height: 100vh;
}
/* homeInfor */
.homeinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 17% auto;
  color: white;
  width: 60%;
  font-weight: 900;
  font-size: 2rem;
}
.homeinfo > h1 h2 p {
  margin: 2rem;
  padding: 1rem;
}
.span {
  color: red;
}

/* food container */
.bothfoodsearch{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mainFoodcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.foodcontainer {
  padding: 20px;
  width: 19rem;
  box-shadow: 0 3px 10px 0 #000;
  margin: 15px;
  border: 2px solid black;
  height: 20%;
}
.foodimage {
  object-fit: cover;
  height: 250px;
  width: 100%;
}
.foodname {
  font-size: 10px;
  font-weight: 600;
  color: black;
  margin: 15px 0;
}
.fooddescription {
  font-size: 16px;
}
.foodinfor {
  font-size: 10px;
  color: black;
}
.orderbutton{
  display: flex;
  justify-content: space-between;
}
.orderbutton button {
  padding: 0.5rem;
  background-color: rgb(1, 141, 1);
  cursor: pointer;
  font-size: 1rem;
  color: white;
}
 button.order {
  background-color: red;
}

 button.ordered {
  background-color: green;
}
.loveEmoji{
  font-size:35px;
  color: red;
}
.activated-heart {
  color: red;
}

/* about page */
.aboutpage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.aboutimage {
  width: 40%;
  display: flex;
  margin: 4rem;
}
.aboutimage img {
  width: 100%;
  border-radius: 4rem;
}
.aboutMore {
  width: 40%;
  margin: 1rem;
}
.aboutbutton {
  padding: 1rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  margin: 0.5rem;
}
.aboutbutton:hover {
  background-color: red;
}
.aboutMore h1 {
  color: red;
  margin: 1rem;
}
.aboutMore h2 {
  font-size: 2rem;
  margin: 0.5rem;
}
.aboutMore p {
  font-size: 1rem;
  margin: 1rem;
}

/* foodList */
.pricecolor {
  color: red;
}

/* footer icons */
.main-footer{
  height:auto;
  flex-wrap: wrap;

}
.container{
  width: 80vw;
  color: white;
  background-color: black;

}
.row-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.row .paragraph{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
hr{
  margin-top: 2rem;
}
.footerh2{
  color: red;
  font-weight: 700;
}
.unstyledlist> li{
  list-style: none;
  margin: 0.5rem;
}


/* comment form */
.forminput{
  width: 100%;
  padding: 2rem 0;
  border-radius: 1rem;
  box-shadow: 0 4px 15px 0 #000;
  font-size: 2rem;

}
form .formbutton{
  padding: 1rem 3rem;
  border-radius:1rem;
  margin-top: 5px;
  background-color: rgb(1, 141, 1);
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
form .formbutton:hover{
  background-color: red;
}

/* comment Sectiom */
.commentHeader{
  color: red;
  text-decoration: underline;
}
.Mycomments{
  margin: 1.5rem;
  border: 1px solid black;
  border-top: none;
  border-left: none;
  /* border-radius: 1rem; */
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 4px 15px 0 #000;
  padding: 1.5rem;

}


/* The order Board */
/* .orderboard{
  background-color: red;
  height: 230vh;

} */
/* .Search */
.add-content {
  max-width: 600px;
  margin: 20px auto;
}

.add-content .input-wrapper input {
  width: 100%;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  font-size: 1.25rem;
}

/* contact page */

.iconsf{
  flex-wrap: wrap;
  }
  .iconsf h1{
  color: red;
  font-weight: 900;
  
  }
  .iconsf label i{
  padding: 1rem;
  margin: 20px;
  }
  .contactForm{
    flex-wrap: wrap;

  }
  .contactForm ,input,textarea{
  margin: 0.6rem;
  padding: 0.5rem;
  border-radius: 5px;
  
  }
  .contactForm button{
  padding: 0.7rem 2em;
  border-radius: 10px;
  }
  .contactForm button:hover{
  background-color: red;
  }
  .contactus{
    flex-wrap:nowrap;
  }
 .ContactUs{
display:flex;
justify-content:space-around;
align-items:center;
height:auto;
width:100%;
margin:auto;
flex-wrap: wrap;
height: 100%;
 }
  